
/* Estilos de la barra de navegacion*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.navbar a {
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar .menu {
    display: flex;
}

.navbar .menu a {
    margin-left: 15px;
}

.navbar .cta {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.navbar .cta:hover {
    background-color: #45a049;
}

/* estilos seccion principal*/

.hero {
    background-color: #555;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 48px;
    margin: 0;
    padding: 0;
}

.hero p {
    font-size: 24px;
    margin: 20px 0;
}

.hero a {
    text-decoration: none;
    color: white;
    background-color: #4CAF50;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 10px;
    transition: background-color 0.3s;
}

.hero a:hover {
    background-color: #45a049;
}



/* estilos del formulario */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.form-container {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group select,
.form-group textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group textarea {
    resize: vertical;
    height: 100px;
}

.form-group input[type="file"] {
    padding: 10px 0;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-group button:hover {
    background-color: #45a049;
}



/*productos*/

.container {
    max-width: 1200px;
    margin: 20px auto;
    display: hidden;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
}

.card img {
    width: 25%;
    height: auto;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #333;
}

.card-text {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 15px;
}

.card-price {
    font-size: 1.1em;
    color: #000;
    margin-bottom: 15px;
}

.card:hover {
    transform: scale(1.05);
}

/* mensaje */

.mensaje {
    display: none;
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #4CAF50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;   
}

/*boton eliminar*/

.botonEliminar {
    cursor: pointer;
    color: white;
    background-color: #d75050;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 10px;
    transition: background-color 0.3s;
}

/*boton editar*/

.botonEditar {
    cursor: pointer;
    color: white;
    background-color: #d7c750;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 0 10px;
    transition: background-color 0.3s;
}